.card {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.card__icon {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

.card__title {
  font-size: 16px;
  color: rgb(63, 63, 63);
}